*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main-box{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 90px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(-30deg);
}
.Red-Box{
    height: 50%;
    width: 100%;
    background-color: red;
    float: left;
}
.Blue-Box{
    height: 100%;
    width: 50%;
    background-color: red;
    float: left;
}